{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Квитанция</title>
        <link rel="stylesheet" href="{% static 'css/check.css' %}">
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
        <link href="//db.onlinewebfonts.com/c/1dc8ecd8056a5ea7aa7de1db42b5b639?family=Gilroy" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="main-page">
            <header>
                <div>
                    <h1>Ваша квитанция от MTour</h1>
                    <h2>MTour</h2>
                </div>
            </header>
            <main class="sub-page">
                <section>
                    <article>
                        <h3>Квитанция №895647</h3>
                        <h3>Забронировано: 12 декабря 2022</h3>
                    </article>
                    <div class="content">
                        <article class="reservation">
                            <section class="dates">
                                <div>
                                    <h6>Прибытие</h6>
                                    <span>30 декабря 2022</span>
                                </div>
                                  <svg class="svg" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M6.71146 5.45455L1.56294 0.272727C1.19519 -0.0909091 0.643565 -0.0909091 0.275814 0.272727C-0.0919376 0.636364 -0.0919376 1.18182 0.275814 1.54545L4.78076 6L0.275814 10.4545C0.091938 10.6364 0 10.8182 0 11.0909C0 11.6364 0.367751 12 0.919378 12C1.19519 12 1.37907 11.9091 1.56294 11.7273L6.8034 6.54545C7.07921 6.36364 7.07921 5.81818 6.71146 5.45455Z" fill="#999695"/>
                                  </svg>
                                <div class="departure">
                                    <h6>Выезд</h6>
                                    <span>2 января 2023</span>
                                </div>
                            </section>
                            <section class="org-details">
                                <h4><span>3</span> ночи в <span>Ак-Тилек</span></h4>
                                <h5>Тип организации: <span>Санаторий</span></h5>
                                <p>
                                    Санаторий Ак-Тилек, Казахстан
                                    Туркестанская область,
                                    Сарыагашский р-он., п. Коктерек,
                                    ул. Абая д. 76
                                </p>
                                <address>Телефон: <span>+7 (778) 901 81-76</span></address>
                            </section>
                          <br/>
                          <br/>
                            <section class="user-details">
                                <div>
                                    <p>Клиент: <span>Илияс Д. К.</span></p>
                                    <address>Телефон: <span>+7 (778) 901 85-75</span></address>
                                </div>
                                <p>
                                    <span>2</span> комнатный номер
                                </p>
                                <p>
                                    <span>2</span> гостя в этой поездке: <span>3</span> взрослых, <span>1</span> ребенок
                                </p>
                            </section>
                        </article>
                        <article class="payment-main">
                            <section>
                                <div class="payment-details">
                                    <h4>Оплаченные услуги</h4>
                                    <div class="packets">
                                        <h5>Пакеты:</h5>
                                        <div>
                                            <p>Пакет <span>"Семейный"</span><span class="price">₸ 30 000.00</span></p>
                                        </div>
                                    </div>
                                    <div class="additional-services">
                                        <h5>Дополнительные услуги:</h5>
                                        <p>Физиотерапия<span>₸ 5 000.00</span></p>
                                        <p>Душ Шарко<span class="price">₸ 5 000.00</span></p>
                                        <p>Циркулярный душ<span class="price">₸ 5 000.00</span></p>
                                    </div>
                                </div>
                            </section>
                            <section>
                                <div class="payment-total">
                                    <div>
                                        <h5>Детализация цены</h5>
                                        <h6 class="underline">Итого (KZT)<span>₸ 75 000.00</span></h6>
                                        <h6>Оплачено (KZT)<span>₸ 75 000.00</span></h6>
                                    </div>
                                </div>
                            </section>
                        </article>
                    </div>

                </section>
                <footer>
                    <div class="footer">
                       <div class="question">
                            <h6>
                                Есть вопросы?
                            </h6>
                            <p>Напишите на <a href="/">support@mtour.kz</a></p>
                       </div>
                       <a href="https://mtour.kz/">mtour.kz</a>
                        <h2>MTour</h2>
                    </div>
                </footer>
                <aside>Страница 1 из 1</aside>
            </main>
          </div>
    </body>
</html>
