<html>
<head>
  <meta name="appleid-signin-client-id" content="[CLIENT_ID]">
  <meta name="appleid-signin-scope" content="[SCOPES]">
  <meta name="appleid-signin-redirect-uri" content="[REDIRECT_URI]">
  <meta name="appleid-signin-state" content="[STATE]">
</head>
<style>
  .signin-button {
    width: 210px;
    height: 40px;
  }
</style>

<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v17.0&appId=270187162269308&autoLogAppEvents=1" nonce="ajJZmTEp"></script>
<div class="fb-login-button" data-width="" data-size="" data-button-type="" data-layout="" data-auto-logout-link="false" data-use-continue-as="false"></div>
<div id="appleid-signin" class="signin-button" data-color="black" data-border="true" data-type="sign-in"></div>
<script type="text/javascript"
        src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"></script>
</body>
</html>
